.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.password-container {
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}