.welcome-content {
    margin-top: 80px;
    /* Adjust this value based on your navbar height */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    /* Adjust this value based on your navbar height */
    font-family: "Poppins", sans-serif;
}